.main {
    @include blue();
    max-width: 1920px;
    margin: auto;
}

.main__searchForm__title {
    z-index: 50;
    height: 37px;
    font-size: 42px;
    font-weight: 700;
    margin-top: 100px;
    margin-left: 225px;
    z-index: 500;
}

.main__searchForm__from {
    z-index: 1000;
    margin: auto;
    display: flex;
    margin-left: 225px;
    margin-top: 50px;
    z-index: 500;
}

#toResults {
    margin-left: 25px;
}

#from,
#to {
    z-index: 500;
    width: 300px;
    height: 39px;
    box-shadow: 0 2px 6px 2px $main-blue;
    border-radius: 10px;
    background-color: #f9fafc;
    border: $main-blue;
}

#from__ul,
#to__ul {
    padding: 0px;
    position: absolute;
    height: fit-content;
    width: 300px;
    list-style-type: none;
    z-index: 500;
    box-shadow: 0 2px 6px 2px $main-blue;
    border-radius: 10px;
    background-color: #f9fafc;
    font-size: 25px;
}

#from__ul>span,
#to__ul>span {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding-left: 15px;
    padding-right: 15px;

    &:last-of-type {
        font-size: 20px;
    }
}

#from__ul>li,
#to__ul>li {

    border-bottom: 2px solid $main-blue;
    height: 60px;
    padding-top: 13px;

    &:first-of-type {

        border-top: 2px solid $main-blue;
    }
}

#from__ul>li>i,
#to__ul>li>i {
    padding-left: 15px;
    padding-right: 10px;
}

li>span {
    justify-content: space-between;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;

    &:last-of-type {
        font-size: 20px;
    }
}

#switch {
    position: absolute;
    background-color: none;
    margin: 10px 0 0 -30px;
    font-size: 25px;

}


#datefrom, #dateto{
    margin-left: 25px;
    border-radius: 10px;
    border: $main-blue;
    height: 37px;
    box-shadow: 0 2px 6px 2px $main-blue;
    font-size: 20px;
    width: 300px;
}
::-webkit-datetime-edit { padding: 1em; }
::-webkit-datetime-edit-fields-wrapper { background: silver; }
::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background: orange; }
::-webkit-input-placeholder {
    @include blue();
    font-size: 20px;
    padding-left: 10px;
}
