
.main{
   @include blue();
    max-width: 1920px;
    margin: auto;   
}
.main__searchForm__title{
    z-index: 50;
    height: 37px;
    font-size: 42px;
    font-weight: 700; 
    margin-top: 100px;
    margin-left: 225px;
    z-index: 500;
}

.main__searchForm__from{
   z-index: 1000;
   margin: auto;
   display: flex;
   margin-left: 225px;
   margin-top: 50px;
   z-index: 500;
}
#from{
    z-index: 500;
    width: 341px;
    height: 39px;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    background-color: #f9fafc;
}
#from__ul{
    padding: 0;
    width: 225px;
    list-style-type: none; 
    z-index: 500;
}

#from__ul>li{
   
    border: 1px solid #0051AD;
}

#switch{
    position: absolute;
    background-color: none;
    margin: 10px 0 0 -30px;
    font-size: 25px;
    @include blue();
}
